 *{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;
}

body{
    margin:0;
    height:100vh;
    background: linear-gradient(135deg, #141E30, #243B55);
    display:flex;
    justify-content:center;
    padding:20px;
    color:white;
    transition: background 0.8s ease;  /* ADD THIS */
}

@keyframes gradient{
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}

.app{
width:100%;
max-width:1100px;
text-align:center;
}

.title{
margin-bottom:20px;
}

.search-box{
margin-bottom:20px;
}

.search-box input{
padding:10px;
width:250px;
border-radius:20px 0 0 20px;
border:none;
outline:none;
}

.search-box button{
padding:10px;
border:none;
cursor:pointer;
background:white;
color:#333;
}

.current-card{
background:rgba(255,255,255,0.15);
padding:20px;
border-radius:20px;
backdrop-filter:blur(15px);
}

.main-weather{
display:flex;
justify-content:center;
align-items:center;
gap:20px;
}

.main-weather img{
width:80px;
animation:float 3s infinite ease-in-out;
}

@keyframes float{
50%{transform:translateY(-10px);}
}

.extra-details{
display:flex;
justify-content:space-around;
margin-top:20px;
}

.detail-box{
background:rgba(255,255,255,0.2);
padding:15px;
border-radius:15px;
width:120px;
transition:0.3s;
}

.detail-box:hover{
transform:scale(1.1);
}

.forecast-title{
margin-top:30px;
margin-bottom:10px;
}

.forecast-container{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.forecast-card{
background:rgba(255,255,255,0.2);
padding:15px;
width:150px;
border-radius:15px;
transition:0.3s;
animation:fadeIn 0.8s ease;
}

.forecast-card:hover{
transform:translateY(-10px);
}

@keyframes fadeIn{
from{opacity:0}
to{opacity:1}
} 

.hidden{
display:none;
}

.show{
display:block;
animation:fadeInSection 0.8s ease;
}

@keyframes fadeInSection{
from{opacity:0; transform:translateY(20px);}
to{opacity:1; transform:translateY(0);}
}